<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/home">Hoteli</a>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/rooms">Sobe </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/roomTypes">Tipovi Soba</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" href="#">Gosti</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <div class="col-sm-4">
      <button class={{btnClass}} (click)="onAutorize()"> {{logInBtnText}} </button>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" role="button">Manage<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Save Data</a></li>
          <li><a href="#">Fetch Data</a></li>
        </ul>
      </li>
      </div>
    </ul>
  </div>
</nav>