<div class="col-sm-12">
    <div class="form-group">
        <label for="rTName">Room Type</label>
        <input
          type="text"
          id="rTName"
          class="form-control"
          [(ngModel)]="selectedRoomType.rTName">
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input
          type="text"
          id="price"
          class="form-control"
          [(ngModel)]="selectedRoomType.price">
      </div>
      <button class="btn btn-success" (click)="onUpdateRT()">{{submitText}}</button>
      <button class="btn btn-danger" (click)="onDelete()">Delete</button>
    </div>
    <hr>
